<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="https://github.com/bfmartins/FrameWeb-Martins-2015"
            class="frameweb.FramewebPackage"
            genModel="model/FrameWeb.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated FrameWeb -->
      <parser
            contentTypeIdentifier="br.ufes.inf.nemo.frameweb"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated FrameWeb -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="frameweb"
            id="br.ufes.inf.nemo.frameweb"
            name="%_UI_Frameweb_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://nemo.inf.ufes.br/projects/frameweb/2015"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>
</plugin>
