<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FrameWeb -->
      <package uri="https://github.com/bfmartins/FrameWeb-Martins-2015" class="frameweb.FramewebPackage" genModel="model/FrameWeb.genmodel"></package>
   </extension>

</plugin>