<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FrameWeb -->
      <package
            uri="https://github.com/bfmartins/FrameWeb-Martins-2015"
            class="frameweb.FramewebPackage"
            genModel="model/FrameWeb.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FrameWeb -->
      <package
            uri="http://www.omg.org/spec/UML/20110701"
            class="uml2.Uml2Package"
            genModel="model/FrameWeb.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FrameWeb -->
      <package
            uri="http://schema.omg.org/spec/QVT/1.1/primitivetypes.xml"
            class="primitiveTypes.PrimitiveTypesPackage"
            genModel="model/FrameWeb.genmodel"/>
   </extension>

</plugin>